<!DOCTYPE html>
<html>
<head>
  <title>Deal Closer</title>
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico"/>
  <link rel='stylesheet' media='screen' href='{{ STATIC_URL }}css/reset.css' />
  <link rel='stylesheet' media='screen' href='{{ STATIC_URL }}css/fonts.css' />
  <link rel='stylesheet' media='screen' href='{{ STATIC_URL }}css/base.css' />
</head>

<body>
  <div class='header shadow'>
	<div class='m960'>
		<div class='left'>
			<img src='{{ STATIC_URL }}img/dc-logo.png' width='300px' height='50px' />
		</div>
		<div class='clear'></div>
	</div>
  </div>
  
  <div class='content'>
    {% block content %}
    {% endblock %}
    <div class='clear'></div>
  </div>
  
  <div class='footer'>
  </div>

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/application.js"></script>
</body>
</html>
