{% extends "djangoproject/base.html" %}

{% block content %}
<div class='left main-left-box shadow'>
	<div class='icon icon-user text-1'>Hello User!</div>
	<hr />
	<span>email@email.com</span>
	<span>09151234567</span>
	<br />
	<br />
	<div class='button'>Logout</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class='icon icon-search text-1'>Search</div>
	<hr />
	<input type='text' class='search-field' placeholder='Search Deal' />
	<br />
	<br />
	<div class='button'>Search</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class='icon icon-quick text-1'>Quick Links</div>
	<hr />
	<div class='button'>Create Deal</div>
	<div class='button'>View Dashboard</div>
</div>

<div class='right main-right-box shadow'>
	<div class='title-box'>My Deals</div>
	<div class='deal'>
		<div class='left'>
			<img src='#' width='150px' height='150px' />
		</div>
		<div class='left deal-details'>
			<div class='text-2'>Deal Name</div>
			<div class='text-5'>P1,500</div>
			<div class='text-3'>Available</div>
			<div class='text-4'>Deal Description Lorem Ipsum Dolor...</div>
			<br />
			<div class='text-6'>5 Offers</div>
			<br />
			
		</div>
		<div class='clear'></div>
	</div>
</div>

<div class='right main-right-box shadow'>
	<div class='title-box'>My Offers</div>	
	<div class='deal'>
		<div class='left'>
			<img src='#' width='150px' height='150px' />
		</div>
		<div class='left deal-details'>
			<div class='text-2'>Deal Name</div>
			<div class='text-5'>P1,500</div>
			<div class='text-4'>Deal Description Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor</div>
			<br />
			<div class='text-6'>Offer: P1,500 + PSP</div>
		</div>
		<div class='clear'></div>
	</div>
</div>

<div class='clear'></div>
{% endblock %}
