{% extends "djangoproject/base.html" %}

{% block content %}

    {% include "djangoproject/sidebar.html" %}

    <div class='right main-right-box shadow'>
	    {% include "djangoproject/deal.html" with deal=deal %}

        {% ifnotequal deal.deal_offered_to.count 0 %}
	        <div class='title-box'>Offers</div>
            {% for offer in offers %}

                {% if offer.deal_owned %}
		        <div class='deal deal-owned' deal-id='{{ offer.deal_owned.id }}'>
                {% else %}
		        <div class='deal'>
                {% endif %}
			        <div class='left deal-details'>
				        <div class='text-2 icon icon-user'>{{ offer.owner.username }} / {{ offer.owner.email }}</div>
				        <br />
				        <div class='text-6'>{{ offer.offer_string }}</div>
				        <div class='text-3'>{{ offer.description }}</div>
                        {% if offer.is_accepted %}
                            <div class='5'>Accepted</div>
                        {% endif %}

				        <div class='clear'></div>

                        {% if deal.is_available %}
                            {% if yours %}
        				        <div class='button w200 accept left offer-accept' offer-id='{{ offer.id }}'>Accept</div>
	        			        <div class='button w200 reject left offer-reject' offer-id='{{ offer.id }}'>Reject</div>
                            {% endif %}
                        {% endif %}
			        </div>
			        <div class='clear'></div>
		        </div>


            {% endfor %}
        {% endifnotequal %}

        {% if not yours %}
    	    <div class='title-box'>Create Offer</div>
            <div class='deal'>
			    <div class='left deal-details'>
                    <form method='POST' class='create-offer-form'>
                        <input type='hidden' name='owner' value='{{ request.user.id }}' />
                        <input type='hidden' name='deal_offered_to' value='{{ deal.id }}' />
				        <input type='text' class='amount-field long-field' placeholder='Amount' name='amount' />
				        <input type='text' class='description-field long-field' placeholder='Description' name='description' />
                        {% ifnotequal user_available_deals.length 0 %}
                            <select name='deal_owned'>
                                {% for d in user_available_deals %}
                                    <option value="{{ d.id }}">{{ d.title }}</option>
                                {% endfor %}
                            </select>
                        {% endifnotequal %}
                    </form>
				    <br /><br /><br />
				    <div class='button w200 accept submit-offer'>Submit</div>
			    </div>
			    <div class='clear'></div>
		    </div>
        {% endif %}


    </div>

{% endblock %}
