{% extends "djangoproject/base.html" %}

{% block content %}
<div class='left login-box shadow'>
	<div class='icon icon-user text-1'>Login Form</div>
	<hr />
    <div class='error-message hide'>Invalid Credentials</div>
    <div class='success-message hide'>Login Successful!</div>
	<input type='text' class='username-field' placeholder='Username' name='user[email]' />
	<input type='password' class='password-field' placeholder='Password' name='user[password]' />
	<div class='button'>Login</div>
</div>

<div class='right register-box shadow'>
	<div class='title-box'>Registration Form</div>
	<input type='text' class='username-field' placeholder='Username' />
	<input type='password' class='password-field' placeholder='Password' />
	<input type='password' class='password-field' placeholder='Password Confirmation' />
	<input type='text' class='email-field' placeholder='Email' />
	<input type='text' class='mobile-field' placeholder='Mobile' />
	<div class='button register-button left'>Register</div>
	<div class='clear'></div>
</div>

<div class='clear'></div>
{% endblock %}
