<div class='left main-left-box shadow'>
	<div class='icon icon-user text-1'>Hello {{ request.user.username }}!</div>
	<hr />
	<span>{{ request.user.email }}</span><br />
	<span>{{ request.user.mobile }}</span>
	<br />
	<br />
	<div class='button logout-button'>Logout</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class='icon icon-search text-1'>Search</div>
	<hr />
	<input type='text' class='search-field' placeholder='Search Deal' />
	<br />
	<br />
	<div class='button search-button'>Search</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class='icon icon-quick text-1'>Quick Links</div>
	<hr />
	<div class='button create-deal-link'>Create Deal</div>
	<div class='button view-dashboard-link'>View Dashboard</div>
</div>

